.wait {
  width: 350px;
  background-color: var(--color-lightYellow);
}

.progress {
  width: 350px;
  background-color: var(--color-lightBlue);
}

.done {
  width: 350px;
  background-color: var(--color-lightGreen);
}

.issue {
  width: 350px;
  background-color: var(--color-lightRed);
}

.hold {
  width: 350px;
  background-color: var(--color-lightGrey);
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
